<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>278876406126-3i84u463b23p5gvk1p7k1sq9tbfsm74s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278876406126-3i84u463b23p5gvk1p7k1sq9tbfsm74s</string>
	<key>API_KEY</key>
	<string>AIzaSyCjNA6_dr43sJjuMkY0Z0DMjqyyWA3htGY</string>
	<key>GCM_SENDER_ID</key>
	<string>278876406126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weather</string>
	<key>PROJECT_ID</key>
	<string>weather-c864b</string>
	<key>STORAGE_BUCKET</key>
	<string>weather-c864b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278876406126:ios:e1921850d5bfea61bd017f</string>
</dict>
</plist>